/* шапка */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding-top: 92px;
  padding-bottom: 92px;
  padding-left: 50px;
  padding-right: 50px;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style: circle;
  margin:0;
  padding: 0;
}

.header__links-list-item_no-bullit {
list-style: none;
}

.header__link {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: black;
  text-decoration: underline;
}

.header__link_active {
text-decoration: none;
}

.header__logo {
  width: 148px;
}

/* адрес*/

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: black;
}

.address a {
  color: black;
}

.address p {
  margin: 0;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/* обложка */

.cover {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 165px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* заголовок*/

.cover__title {
  position: relative;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin: 0 0 135px 0;
  z-index: 2;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

/* описание текста и кнопка*/

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
  padding-bottom:10px;
  z-index: 2;
}

.cover__description-text {
  font-family: 'Raleway', Arial, sans-serif;
  word-spacing: 18px;
  color: white;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
}

.bet-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 22px;
  padding-top: 12px;
  padding-bottom: 11px;
  padding-left: 31px;
  padding-right: 32px;
  text-transform: uppercase;
  cursor: pointer;
}

/* лоты */

.lots {
  padding-top: 180px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 155px;
}

.lots__heading {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-bottom: 64px;
  padding-left: 0;
}

.lots__card-list-item {
  width: calc((100% - 50px)/3);
  min-height: 563px;
}

/* карточка */

.card-link {
  text-decoration: none;
  display: block;
}

.card {
  position: relative;
  min-height: 563px;
  padding-top: 48px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,.6);
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  margin: 0;
  margin-bottom: 12px;
}

.card__text {
  position: relative;
  z-index: 2;
  color: white;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 20px;
  line-height: 24px;
  margin: 0;
}

/* ===== ссылка ===== */

.lots__look-more-link {
  font-family: 'Raleway', Arial, sans-serif;
  color: black;
  font-size: 20px;
  text-decoration: underline;
  margin-left: 40px;
}

/* об аукционе */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin: 0 24px 180px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
width: 148px;
}

.about__title {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 20px;
}

.about__text p {
  margin: 0;
}

/* подвал сайта */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 50px;
  align-items: start;
}

.footer__address {
  max-width: 240px;
}

.footer__links-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer__link {
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 18px;
  text-decoration: underline;
  color: black;
}

.footer__link-active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}