/*  шапка  */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
  padding-left: 20px;
}


.header__links-list-item_no-bullet {
  list-style: none;
}

.header__link {
  font-size: 18px;
  font-weight: 400;
  line-height: 100%;
  color: #000;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
}

/*  адрес  */

.address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 18px;
  font-style: normal;
  line-height: 24px;
  color: black;
}

.address a {
  color: black;
}

.address p {
  margin: 0;
}

.header__address {
  justify-self: end;
  max-width: 240px;
}

/*  обложка  */

.cover {
  position: relative;
  min-height: 757px;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  padding: 165px 50px 50px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/*  заголовок  */

.cover__title {
  position: relative;
  color: white;
  font-size: 100px;
  line-height: 115px;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 135px;
  z-index: 2;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

/*  описание текста и кнопка  */

.cover__description {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  gap: 20px;
}

.cover__description-text {
  word-spacing: 18px;
  color: white;
  font-size: 22px;
  line-height: 28px;
}

.bet-button {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-size: 22px;
  padding: 12px 32px;
  text-transform: uppercase;
  cursor: pointer;
}

/*  лоты  */

.lots {
  padding: 180px 50px 50px;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 27px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 30px;
}

.lots__card-list-item {
  width: calc((100% - 50px) / 3);
  min-height: 563px;
}

/*  карточка  */

.card-link {
  display: block;
  text-decoration: none;
}

.card {
  position: relative;
  min-height: 563px;
  padding: 51px 40px 48px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 22px;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  position: relative;
  z-index: 2;
  color: white;
  font-size: 20px;
  line-height: 24px;
}

/*  ссылка  */

.lots__look-more-link {
  margin-left: 40px;
  font-size: 20px;
  color: black;
  text-decoration: underline;
}

/*  об аукционе  */

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 180px 50px 50px;
}

.about__column {
  display: flex;
  flex-direction: column;
}

.about__logo {
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 20px;
}

/*  подвал  */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 180px 50px 90px;
  align-items: start;
}

.footer__address {
  max-width: 240px;
}

.footer__links-list {
  list-style: none;
  text-align: center;
}

.footer__link {
  font-size: 18px;
  text-decoration: underline;
  color: black;
}

.footer__link-active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  gap: 48px;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  border: 1px solid #000;
  border-radius: 50%;
}

.footer__social-icon {
  width: 48px;
}